<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.fabricscribe.profile-service-updater</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/arash/transcriptionapp-deploy.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/arash/.fabricscribe/deploy.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/arash/.fabricscribe/deploy.stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/Users/arash/.cargo/bin</string>
        <key>HOME</key>
        <string>/Users/arash</string>
    </dict>
</dict>
</plist>
